/* Generel styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    height: 100vh;
}
img {
    width: 100%;
}
/*Header*/
nav {
    height: 70px;
    background-color: black;
    color: white;
}
.logo {
    height: 70px;
    width: 70px;
}
.main_frontpage {
    height: 90vh;
    background-color: #1D383F ;
    color: white;
    text-align: center;
}
/*Brun linje*/
.brown_line {
    height: 50px;
    background-color: #9F581F;
}

/*Eventsektion*/
.events {
    color: black;
}
/*Untappd og maps sekstion*/
.untappd_maps
{
    height: 480px;
    background-color: #122226;
    color: white;
    text-align: center;
    display: flex;
}
/*Untappd på forside*/
.untappd {
    height: 450px;
    background-color: #1D383F;
    border-radius: 0 0 15px 0;
    width: 50%;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}
.untappd img {
    width: 90px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.untappd h2 {
    margin-top: 30px;
}
.untappd h3 {
    font-size: 30px;
    margin-top: 10px;
}
.untappd_qr {
    height: 100px;
    width: 325px;
}
/*Maps på forside*/
.maps{
    height: 450px;
    background-color: #1D383F;
    border-radius: 0 0 0 15px;
    width: 50%;
    margin-left: 15px;
}
.maps h2{
    margin-top: 30px;
    margin-bottom: 10px;
}
.maps p {
    margin-bottom: 20px;
}
.maps iframe{
    border-radius: 10px;
}
/*Footer*/
footer {
    height: 300px;
    background-color: #ED9F2D;
    display: flex;
    justify-content: space-evenly;
}
footer h4{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.contact_footer {
    display: flex;
    gap: 10px;
    align-items:  center;
}
.contact_footer a {
    color: black;
}
.contact_footer img{
    width: 150px;
    height: 150px;
    align-items: center;
}
.tekst_contact {
   align-items: center;
}
.some_footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    
}
.contact_footer a {
    text-decoration: none;

}
/*SoMe-ikoner*/
.fa-square-instagram, .fa-square-facebook{
    font-size: 60px;
    margin-top: 20px;
}
/*Åbningstider*/
.opening{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.opening h4{
    te

}
/*Farvet bar i bunden */
.colorbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.colorbar div{
    flex: 1;
    height: 100%;
}
.dark_green{
    background-color: #1D383F;
}
.yellow{
    background-color: #FCAA32;
}
.orange {
    background-color: #E6792B;
}
.brown{
    background-color: #71221C;
}
.red {
    background-color: #DF5429;
}